In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

In [10]:
df = pd.read_csv("TCGA-BRCA.ef16eca9-6bfa-4db1-860a-adccb484d2b3.ascat3.gene_level_copy_number.v36.tsv", sep='\t')

In [11]:
df.columns = [col.strip() for col in df.columns]

In [21]:
missing = df.isnull().sum()
print("Missing values before:\n", missing)

Missing values before:
 gene_id            0
gene_name          0
chromosome         0
start              0
end                0
copy_number        0
min_copy_number    0
max_copy_number    0
dtype: int64

In [13]:
df['start'] = df['start'].astype(int)
df['end'] = df['end'].astype(int)

In [14]:
def convert(x):
    try:
        return float(x)
    except:
        return np.nan

for col in ['copy_number', 'min_copy_number', 'max_copy_number']:
    df[col] = df[col].apply(convert)

In [15]:
missing = df.isnull().sum()
print("\nMissing entries AFTER cleaning:")
print(missing)

Missing entries AFTER cleaning:
gene_id              0
gene_name            0
chromosome           0
start                0
end                  0
copy_number        803
min_copy_number    803
max_copy_number    803
dtype: int64

In [16]:
imputer = SimpleImputer(strategy='mean')
df[['copy_number', 'min_copy_number', 'max_copy_number']] = imputer.fit_transform(
    df[['copy_number', 'min_copy_number', 'max_copy_number']]
)

In [17]:
df[['copy_number', 'min_copy_number', 'max_copy_number']] = df[[
    'copy_number', 'min_copy_number', 'max_copy_number'
]].astype(int)

In [20]:
df.head()

,gene_id,gene_name,chromosome,start,end,copy_number,min_copy_number,max_copy_number
0,ENSG00000223972.5,DDX11L1,chr1,11869,14409,1,1,1
1,ENSG00000227232.5,WASH7P,chr1,14404,29570,1,1,1
2,ENSG00000278267.1,MIR6859-1,chr1,17369,17436,1,1,1
3,ENSG00000243485.5,MIR1302-2HG,chr1,29554,31109,1,1,1
4,ENSG00000284332.1,MIR1302-2,chr1,30366,30503,1,1,1